<th:block th:fragment="head">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Noto+Sans+KR&display=swap">

  <link rel="stylesheet" type="text/css" th:href="@{'/assets/css/bootstrap/bootstrap.min.css'}">
  <link rel="stylesheet" type="text/css" th:href="@{'/assets/css/bootstrap/bootstrap.css'}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{'/assets/src/favicon/favicon.ico'}" />
  <link rel="stylesheet" type="text/css" th:href="@{'/assets/css/table/tabulator_semanticui.min.css'}">

  <style>
    :root {
      --bs-font-sans-serif: 'Montserrat', 'Noto Sans KR', Helvetica, Arial, serif !important;
    }

    .header-navbar, .navigation {
      font-family: 'Montserrat', 'Noto Sans KR', Helvetica, Arial, serif !important;
    }
  </style>

</th:block>