<th:block th:fragment="script">
    <script th:src="@{'/assets/js/jquery/jquery.min.js'}"></script>
    <script th:src="@{'/assets/js/bootstrap/bootstrap.bundle.min.js'}"></script>
    <script th:src="@{'/assets/js/table/tabulator.min.js'}"></script>
    <script th:src="@{'/assets/js/sweetalert2/sweetalert2.js'}"></script>
    <script th:src="@{'/assets/js/core/util.js'}"></script>
    <script th:src="@{'/assets/js/core/tabulator.js'}"></script>
    <script th:src="@{'/assets/js/ckeditor/ckeditor-37.0.1.js'}"></script>
    <script th:src="@{'/assets/js/ckeditor/MyUploadAdapter.js'}"></script>
</th:block>